:root {
  --swiper-theme-color: #22201f;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-border-radius: 12px;
  --card-bg-top: rgb(245 211 113 / 10%);
  --card-bg-bottom: rgb(245 211 113);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  font-style: normal;
  line-height: 1;
  color: #22201f;
  background-color: #f7f7f3;
  margin: 0;
  padding: 0;
}




.page-wrap {
  height: 100svh;
}



/* header */

.header {
  display: flex;
  align-items: center;
  height: 100px;
  padding:  0 1rem;
  transition: height 0.3s, padding 0.3s;
}
.logo {
  .logo-img {
    max-width: 280px;
  }
  h1 {
    font-size: 0;
    color: transparent;
  }
}


/* main */
.main {
  height: calc(100% - 100px);
}
.swiper-pagination {
  align-content: center;
  height: 30px;
}
.swiper-pagination-bullet {
  transition: width 0.3s;
}
.swiper-pagination-bullet-active {
  width: 40px;
}
.swiper {
  height: calc(100% - 40px);
  .swiper-slide {
    display: flex;
    height: 100%;
    position: relative;
  }
  .slide-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }
}
.slide-txt {
  padding: 2.5rem 1.5rem;
  position: absolute;
  z-index: 4;
  .slide-title {
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: 900;
    margin: 0;
    > span {
      letter-spacing: -2px;
    }
  }
  .slide-desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
  .slide-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    min-width: 150px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #22201f;
    padding: 4px 16px 4px 4px;
    border-radius: 30px;
    border: 0;
    > .icon {
      display: inline-block;
      width: 34px;
      height: 34px;
      background: #fff center / 100% no-repeat;
      border-radius: 60px;
      &.icon-play {
        background-image: url('../image/ic_play.svg');
      }
      &.icon-link {
        background-image: url('../image/ic_link.svg');
      }
    }
    > span {
      flex: 1;
      text-align: center;
    }
  }
}
.slide-bg-wrap {
  position: relative;
  flex: 1;
  width: 100%;
  .slide-img {
    width: 100%;
    height: 80svh;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    transition: background-size 0.5s, background-position 0.5s;
    .swiper-slide01 {
      background-size: 130%;
    }
    .swiper-slide03 & {
      background-position-x: 80%;
    }
  }
  .slide-bg-img {
    width: 100%;
    height: 86svh;
    background-position: center bottom;
    background-size: 120%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  .slide-bg-color {
    width: 100%;
    height: 80svh;
    background-image: linear-gradient( 120deg, var(--card-bg-top) 0%, var(--card-bg-bottom) 100%);
    border-radius: 0 68px 0 68px;
    position: absolute;
    z-index: 1;
  }
}



@media (min-width: 768px) {
  .page-wrap {
    width: 768px;
    margin: 0 auto;
  }
  .header {
    height: 120px;
    padding: 0 2rem;
  }
  .logo .logo-img {
    width: 380px;
  }
  .main {
    height: calc(100% - 120px);
    max-height: 920px;
    position: relative;
  }
  .swiper {
    height: calc(100% - 60px);
    .slide-content {
      padding: 0 2rem;
    }
  }
  .slide-txt {
    padding: 4rem 3rem;
    .slide-title {
      > .br {
        display: none;
      }
    }
  }
  .slide-bg-wrap {
    .slide-bg-color {
      height: 76svh;
    }
    .slide-bg-img {
      height: 62svh;
      background-position-y: top;
    }
  }
  .swiper-pagination-vertical.swiper-pagination-bullets {
    top: 40%;
  }
  .swiper-pagination {
    .swiper-pagination-bullet  {
      width: 8px;
    }
    .swiper-pagination-bullet-active {
      height: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .page-wrap {
    width: 100%;
    max-width: 1280px;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .slide-txt .slide-title {
    > .br {
      display: block;
    }
  }
}




/* 橫向螢幕提示 */
.orientation-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22201f;
  color: #fff;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  svg {
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
    animation: rotate 2s ease-in-out infinite;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.5;
  }
}

@keyframes rotate {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(90deg); }
}

@media (orientation: landscape) and (max-width: 1024px) {
  body {
    background-color: #22201f;
  }
  .page-wrap {
    display: none;
  }
  .orientation-message {
    display: flex !important;
  }
}